head
  link(rel='stylesheet', href='styles/confirmation.css', data-inline)

body
  h1 Thanks for submitting your feedback.
  h3 You'll hear from the CameraKit Team within 48 hours. 

  p(class='message') Here's the message you sent: "#{message}"

  p(class='footer') Email via CameraKit Contact Form. If you have any questions please contact us at <a href=`mailto:hello@camerakit.io`> hello@camerakit.io</a>.