* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 24px; 
  color:  #3E445B;
  margin-bottom: 50px;
}

h3 {
  font-size: 18px;
  color: #3E445B;
}

p {
  font-size: 18px;
}

.footer {
  font-size: 12px;
  color: #77829b;
  margin-top: 100px;
}

.message {
  font-size: 18px;
  color: #3E445B;
}
